---
import { getCollection } from "astro:content";
import Layout from "@layouts/arLayout.astro";
import Header from "@components/arHeader.astro";
import Footer from "@components/arFooter.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/arCard";
import Socials from "@components/arSocials.astro";
import getSortedPosts from "@utils/argetSortedPosts";
import { SOCIALS } from "@config";
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const posts = await getCollection("ar");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
let tags = getUniqueTags(posts);
---

<Layout>
  <Header />
  <main id="main-content">
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>{t('i18n.selected_fatwas')}</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/ar/fatwas/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>{t('i18n.recent_fatwas')}</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/ar/fatwas/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
           <li>
            <a href="/ar/fatwas/">{t('i18n.view_all')}</a>
           </li>
          </ul>
        </section>
      )
    }

<Hr />
   <section style="margin-bottom: 25px;margin-top: 25px;">
    <h2>{t('i18n.tags')}</h2>
            {tags.map(
              ({ tag }, index) =>
                index < 6 && (
                  <Tag {tag} size="lg" />
                )
            )} ...<a href="/ar/tags/">{t('i18n.view_all')}</a>
   </section>

  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  h2,
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
