---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/arLayout.astro";
import Main from "@layouts/arMain.astro";
import Header from "@components/arHeader.astro";
import Footer from "@components/arFooter.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/arCard";
import { SITE } from "@config";
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"ar">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`الفتاوى | ${SITE.title}`}>
  <Header activeNav="fatwas" />
  <Main pageTitle="الفتاوى" pageDesc="">
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/ar/fatwas/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/ar/fatwas${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/ar/fatwas/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
